.newsItem {

    .imageWrapper {
        overflow: hidden;

    }

    img {
        width:100%;
        max-height:200px;
        object-fit: cover;
        cursor: pointer;
        transition: all 0.3s ease-out;
        transform-style: preserve-3d;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    background: #000;
    cursor: pointer;
    border: none;
}