.btn {
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    background: #000;
    cursor: pointer;
    border: none;
    margin: 0 0 50px 0;
    box-shadow: rgb(255 255 255) 0px 0px 8px;
    font-size: inherit;
}

.singleNews {
    text-align: center;
    margin: 130px 0;


    img {
        max-width:600px;
        max-height:300px;
        object-fit: contain;
        cursor: pointer;
        transition: transform 0.3s ease-out;
        
        &:hover {
            transform: scale(1.1);
        }
    }
}