.photos-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top:170px;
    margin-bottom: 100px;

    img {
        &:hover {
            cursor: pointer;
        }
    }
}

.imageContainer {
    background: #333 linear-gradient(180deg,#000,transparent);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index:100;
    top: 0;
    left:0;
    // width:100vw;
    // height: 100vh;
    right:0;
    bottom:0;
    opacity: 0.9;
    animation: anim1 .5s ease-in-out forwards;
    transition: all 3s;

    div {
        width: 60vw;
        height: 80vh;
        border: 2px solid #fff;
    }

    img {
        object-fit: cover;
    }
}

@keyframes anim1 {
    from {
        opacity:0;
      }
    
      to {
        opacity:1;
      }
}

.close {
    position: absolute;
    top:15px;
    right: 15px;     
    cursor: pointer;
    font-size:24px;  
}



@media (max-width: 687px) {
    .photos-list {
        grid-template-columns: repeat(2, 1fr);
        margin-top:100px;
    }

    .imageContainer {
        div {
            width: 80vw;
            height: auto;
        }
}
}

@media (max-width: 487px) {
    .photos-list {
        grid-template-columns: 1fr;
    }
}