.photos-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    // margin-top:170px;
    // margin-bottom: 100px;
    max-width: 960px;
    margin: 170px auto 100px;

    div {
        transform: skew(-5deg);
        overflow: hidden;
    }

    img {
        transform: skew(5deg) scale(1.1);
        &:hover {
            cursor: pointer;
        }
    }
}

.backdrop {
    background: rgba(0,0,0,0.95);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index:100;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    opacity: 0.9;
    animation: anim1 .5s ease-in-out forwards;
}

.modal {
        position: fixed;
        top:40px;
        left:40px;
        right:40px;
        bottom:40px;
        z-index: 300;
        display: flex;
        justify-content: center;
        align-items: center;

    div {
        width: 60vw;
        height: 80vh;
        animation: anim2 0.5s ease-in-out forwards;
    }

    img {
        object-fit: contain;
        
    }
}

@keyframes anim1 {
    from {
        opacity:0;
        transform: scale(0.9);
      }
    
      to {
        opacity:0.9;
        transform: scale(1);
      }
}

@keyframes anim2 {
    from {
        transform: scale(0.9);
      }
    
      to {
        transform: scale(1);
      }
}

.close {
    position: absolute;
    top:15px;
    right: 20px;     
    cursor: pointer;
    font-size:28px;  
}



@media (max-width: 687px) {
    .photos-list {
        grid-template-columns: repeat(2, 1fr);
        margin-top:100px;
    }

    .imageContainer {
        div {
            width: 80vw;
            height: auto;
        }
}
}

