.footer {
    background: #333 linear-gradient(180deg,#000,transparent);
    padding: 10px 0;
    text-align: center;
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-top: 100px;
}