.about-us {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:3rem;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    /* padding:30px; */
    margin-bottom:50px;
    margin-top:50px;
}

.about-us__desc {
    grid-column: 1 /span 3;
}

.about-us__socials {
    grid-column: 4 / span 2;
}